#home {
    background: center / cover no-repeat url("../public/home-bg.jpg");
    min-height: 100vh;
    background-attachment: fixed;
}

.fadeIn {
    animation-duration: 1s;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        top: -100px;
    }

    100% {
        opacity: 1;
    }
}

.fadeOut {
    animation-duration: 2s;
    animation-name: fadeOut;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        top: -100px;
    }
}